.header h1 {
    text-align: center;
}
.header{
    background-color: #272727;
    padding: 10px;
    color: #ffffff;
}
#navbar {
    overflow: hidden;
    background-color: #1b1b1b;
}
#navbar a {
    display: block;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
#navbar a:hover {
    background-color: #919191;
    color: #000000;
}


/*
#navbar a.active_a {
    background: red;
    color: azure;
}
*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .main {
    padding-top: 50px;
}